body{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.calculator{
    background-color: rgb(141, 141, 141);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 32rem;
    min-width: 20rem;
    font-family: monospace;
    border-radius: 10px;
}

.screen{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: rgb(0, 31, 0);
    height: 8vh;
    width: 94%;
    margin: 16px 0 6px 0;
}

.screen h2{
    color: rgb(0, 190, 10);
    width: 100%;
    text-align: right;
    font-size: 2rem;
    margin-right: 10px;
}

.digits{
    width: 94%;
    height: 50vh;
    margin-bottom: 16px;
    display: grid;
    grid-template-areas:    "CANCEL CANCEL BACK DIVIDE"
                            "SEVEN EIGHT NINE MULTIPLY"
                            "FOUR FIVE SIX SUBTRACT"
                            "ONE TWO TREE ADD"
                            "ZERO EQUAL EQUAL EQUAL";
    grid-template-columns: repeat(4, 1fr);
}

.digit-0{
    grid-area: ZERO;
}

.digit-1{
    grid-area: ONE;
}

.digit-2{
    grid-area: TWO;
}

.digit-3{
    grid-area: TREE;
}

.digit-4{
    grid-area: FOUR;
}

.digit-5{
    grid-area: FIVE;
}

.digit-6{
    grid-area: SIX;
}

.digit-7{
    grid-area: SEVEN;
}

.digit-8{
    grid-area: EIGHT;
}

.digit-9{
    grid-area: NINE;
}

.digit-add{
    grid-area: ADD;
}

.digit-subtract{
    grid-area: SUBTRACT;
}

.digit-multiply{
    grid-area: MULTIPLY;
}

.digit-divide{
    grid-area: DIVIDE;
}

.digits .digit-equal{
    grid-area: EQUAL;
    background-color: rgb(0, 80, 0);
}

.digit-back{
    grid-area: BACK;
}

.digits .digit-cancel{
    grid-area: CANCEL;
    background-color: rgb(90, 0, 0);
}

.digit-dot{
    grid-area: DOT;
}

.digits button{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: rgb(63, 63, 63);
    border: 2px solid rgb(141, 141, 141);
    color: white;
    outline: none;
    cursor: pointer;
    font-family: monospace;
    border-radius: 20px;
}

.digits button:hover{
    transform: scale(0.96);
}